@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
    --font-fm: 'Inter', sans-serif, serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-fm);
    background-color: #E5E5E5;
}